@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    
}header>h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    letter-spacing: 1.5px;
    font-size: 6vw;
}header>p{
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

/* CONFIGURAÇÕES GERAIS */

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}a:hover{
    text-decoration: underline;
}

/* SECTION */

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    letter-spacing: 2px;
    font-size: 3.5vw;
}

section.normal{
    background-color: white;
    color: black;
}   
section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
}section.imagem>p{
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.253);
}

/* FOOTER */

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}