@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/*CORES (mais claro para mais escuro):
#c5ebd6; #83e1ad; #3ddc84; #2fa866; #1a5c37; #063d1e;
*/

/*
Toda variável em CSS, deve comecar com "--". 
Variável: */
:root{
   --cor0: #c5ebd6;
   --cor1: #83e1ad;
   --cor2: #3ddc84;
   --cor3: #2fa866;
   --cor4: #1a5c37;
   --cor5: #063d1e;
    --fonte-padrao: Arial, Verdana, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;

}

/* CONFIGURAÇÃO GLOBAL */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E9E6C3;
    font-family: var(--fonte-padrao);
}

/* CONFIGS MIAS GENÉRICAS */

.externo:after{
    content: ' \1F517';
}

/* HEADER */

header{
    background-image: linear-gradient(360deg,#063d1e,#2fa866 80%);
    height: 150px;
    width: 100vw;
        text-align: center;
}
header>h1{
    color: white;
    font-family: var(--fonte-destaque);
    padding-top: 40px;
    text-shadow: 0px 5px 10px black;
    letter-spacing: 2px;
}
header>hr{
    margin: auto;
    width: 50%;
    background-color: rgb(236, 236, 236);
    max-width: 600px;
    box-shadow: 2px 3px 5px black;
}
header > p{
    color: white;
    font-family: 'Poppins';
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 600px;
    margin: auto;
    margin-top: 2px;
}

/* NAV */

nav{
    height: 30px;
    background-color: var(--cor5);
    font-family: 'Poppins';
    box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.293);
}
nav>a{
    color: white;
    padding: 10px 10px 10px;
    text-decoration: none;
    transition-duration: 0.5s;
}
nav>a:last-child{
    padding: 0px 10px;
    float: right;
}
nav>a:hover{
    padding-left: 15px;
    transition: 0.5s;
    background-color: var(--cor4);
    color: white;
    border-radius: 3px;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.293);
}
nav>a:last-child:hover{
    padding-right: 15px;
    background-color: rgb(195, 1, 1);
}

/* MAIN */

main{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.418);
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img{
    width: 100%;
}

main img.pequena{
    display: block;
    margin: auto;
    max-width: 350px;
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}
main h2{
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    color: var(--cor4);
    padding: 5px;
    font-weight: normal;
}
main p{
    text-align: justify;
    text-indent: 20px;
    margin: 10px 0px;
    line-height: 1.5em;
}
main strong{
    color: var(--cor4);
    
}
main a{
    background-color: rgb(255, 247, 247);
    color: black;
    text-decoration: none;
    padding: 2px 6px;
    border-radius: 3px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.21);
    margin: 2px;
}
main a:hover{
    transition: 5s;
    text-decoration: underline;
    background-color: rgb(230, 220, 220);
}

/* VÍDEO (AINDA NO MAIN) */

/* MODO QUE 
 .video{
    background-color: var(--cor5);
    padding: 10px 20px 20px 20px;
    margin: 0px -20px 30px -20px;
    text-align: center;
    color: white;
    font-family: 'Poppins';
}
.video > h3{
    padding-top: 5px;
} */

/* MODO QUE O GUANABARA ENSINOU */

.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}
.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}

/* ASIDE */

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}
aside>h3{
    color: white;
    background-image: linear-gradient(to right, var(--cor4) 50%, var(--cor3));
    margin: -10px -10px 0px -10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    font-family: 'Poppins';
    font-weight: 400;
    box-shadow: 0px 3px 10px #2fa8659f;
}
aside > ul{
    list-style: inside;
    columns: 2;
    list-style-type: '\2713\00A0';
}

/* FOOTER */

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Poppins';
}

footer a{
    text-decoration: none;
    color: var(--cor1);
}footer a:hover{
    text-decoration: underline;
}

footer strong{
    padding: 5px;
    color: var(--cor1);
    text-decoration: underline;
    padding: 5px;
}